.navbar {
    height: 10%;
    display: grid;
    grid-template-columns: 50rem auto;
    margin-top: 0rem;
    border-bottom: 1px solid #000;
    background: #fff;
}

.navbar .middle {
    display: flex;
    margin-left: 22%;
    gap: 1rem;
}

.navbar .middle input[type="text"] {
    width: 22rem;
    padding: .4rem;
    border-radius: .3rem;
    height: 1.8rem;
    border: 1px solid blue;
    box-shadow: 0px 2px 8px rgb(163, 157, 158);
}

.navbar .middle p {
    width: 2rem;
    height: 2rem;
    padding: .3rem;
    background-color: blue;
    color: white;
}

.navbar .middle p:hover {
    background: #000;
    color: #fff;
}

.navbar .right {
    width: 5rem;
    height: 4rem;
    position: relative;
}

.navbar .right .profile-img {
    position: absolute;
    top: .1rem;
    right: .4rem;
    width: 4rem;
    height: 3rem;
    border-radius: 50%;
}

.navbar .menu-btn {
    /* background-color: gray; */
    position: absolute;
    top: .8rem;
    right: 120%;
    display: none;
}

.right .dropdown {
    width: 8rem;
    height: auto;
    background: white;
    position: absolute;
    top: 90%;
    right: 20%;
    box-shadow: 0 0rem 3rem rgba(132, 139, 200, 0.18);
}

.right .dropdown:hover {
    border: 1px solid gray;
    box-shadow: none;
}

.right .dropdown ul {
    margin-left: -1.5rem;
    list-style: none;
}

.right .dropdown ul .name {
    color: darkgrey;
    font-size: 1.2rem;
}

.right .dropdown ul .name:hover {
    background: skyblue;
    color: blue;
    font-weight: bolder;
}

.right .dropdown ul .icon {
    display: flex;
    padding-left: 10rem;

}